@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,900;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    /* font-family: "Roboto Condensed", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

body{
    color: white;
    background-color: black;
    /* padding: 6px; */
}

.left{ 
    width: 25vw;
    padding: 10px;
}

.right{
    width: 75vw;
    /* padding: 10px; */
}

.home ul li{
    list-style: none;
    /* width: 34px; */
    display: flex;
    gap: 10px;
    padding-top: 18px;
}
.home{
    padding: 12px;
}

.library li{
    list-style: none;
    display: flex;
    gap : 10px;
}

.library{
    min-height: 70vh;
    position: relative;
}

.footer{
    position: absolute;
    bottom : 0;
}

.m1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.footer{
    display: flex;
    font-size: 10px;
    gap: 15px;
}

.footer a{
    color: rgb(142, 140, 140);
}