.border{
    border: 2px solid cyan;
    /* margin: 2px; */
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-centre{
    align-items: center;
}

.rounded{
    border-radius: 13px;
}

.bg-grey{
    background-color: #222121;
}